<%- include('header') -%>
</head>
<body>

<%- include('nav') -%>

<div class="ui right fixed vertical text menu">
  	<div class="item"><button class="circular ui icon green button">
  		<i class="icon wechat"></i>
	</button></div>
	<div class="item"><button class="circular ui icon red button">
  		<i class="icon weibo"></i>
	</button></div>
	<div class="item"><button class="circular ui icon blue button">
  		<i class="icon qq"></i>
	</button></div>
</div>


<div id="article" class="ui text container">
	<article-full v-bind:data="data" v-bind:categories="data.categories_info"></article>
</div>

<script type="text/javascript">
	var id = <%= id %>
	Vue.component('article-full', {
		template: '\
			<div class="ui basic segment">\
				<h1 class="ui header">\
					<a v-bind:href="data.url">{{data.title}}</a>\
					<div class="sub header">\
						{{data.year}}-{{data.month}}-{{data.day}} {{data.hour}}:{{data.minute}}\
						<i class="unhide icon"></i>{{data.views_count}}\
						<i class="comment icon"></i>{{data.comments_count}}\
						<i class="tag icon"></i><a v-for="cat in categories" v-bind:href="cat.url">{{cat.name}}({{cat.articles_count}})&nbsp\
					</div>\
				</h1>\
				<h4 class="ui horizontal divider header">Content</h4>\
				<h3 class="ui header" v-html="data.full_text_html"></h3>\
			</div>\
			',
		props: ['data', 'categories'],

	});

	new Vue({
		el: '#article',
		data: {
			data: {}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			fetchData: function() {
				var _self = this;
				$.get("/api/articles/"+id,function(data,status){
					_self.data = data.data;
				});
				console.log(this.data);
			}
		}
	})
</script>

<%- include('footer') -%>
