<%- include('header') -%>
</head>
<body>

<%- include('nav') -%>
<!-- <div class="ui top fixed labeled icon vertical menu">
	<a class="item"><i class="wechat icon"></i>微信</a>
	<a class="item"><i class="weibo icon"></i>微博</a>
	<a class="item"><i class="qq icon"></i>QQ</a>
</div> -->


<div id="article" class="ui text container">
	<article-full v-bind:data="data"></article>
</div>

<script type="text/javascript">
	Vue.component('article-full', {
		template: '\
			<div class="ui basic segment">\
				<h1 class="ui header">\
					<a v-bind:href="data.url">{{data.title}}</a>\
					<div class="sub header">\
						{{data.year}}-{{data.month}}-{{data.day}} {{data.hour}}:{{data.minute}}:{{data.second}}\
						<i class="unhide icon"></i>{{data.nvisits}}\
						<i class="comment icon"></i>{{data.ncomments}}\
						<i class="tag icon"></i>{{data.tag}}\
					</div>\
				</h1>\
				<h4 class="ui horizontal divider header">Content</h4>\
				<h3 class="ui header">{{data.text}}</h3>\
			</div>\
			',
		props: ['data']
	});

	new Vue({
		el: '#article',
		data: {
			data: {
				title: 'My First Article',
				url: 'https://www.baidu.com',
				year: 2017,
				month: 1,
				day: 15,
				hour: 13,
				minute: 45,
				second: 30,
				nvisits: 1367,
				ncomments: 15,
				tag: 'javascript',
				text: 'This is my new home! Welcome to visit! And this is the full article. Enjoy!'
			}
		}
	})
</script>

<%- include('footer') -%>
