<%- include('header') -%>

<%- include('nav') -%>

<!-- <div class="ui top fixed labeled icon vertical menu">
	<a class="item"><i class="wechat icon"></i>微信</a>
	<a class="item"><i class="weibo icon"></i>微博</a>
	<a class="item"><i class="qq icon"></i>QQ</a>
</div> -->


<div class="ui text container">
	<div class="ui piled segment">
		<h1 class="ui header">My First Article
			<div class="sub header">
				2017-1-19 18:33:29
				<i class="unhide icon"></i>2167
				<i class="comment icon"></i>15
				<i class="tag icon"></i>Javascript
			</div>
		</h1>
		<h4 class="ui horizontal divider header">Content</h4>
		<h3 class="ui header">这是我的第一篇博文。欢迎来到我的新家！</h3>
	</div>
</div>


<%- include('footer') -%>
