<div class="ui left fixed secondary vertical pointing menu">
	<div class="item">
		<div class="ui image circular">
			<img src="/images/head.jpg">
		</div>
		<h2 class="ui center aligned header">Bennyguo</h2>
		<h4 class="ui header center aligned">
			<a class="grayfont" data-tooltip="Articles" data-position="top left" data-inverted="">15 </a>|
			<a class="grayfont" data-tooltip="Visits" data-position="top left" data-inverted=""> 232322 </a>|
			<a class="grayfont" data-tooltip="Comments" data-position="top left" data-inverted="">142 </a>
		</h4>
		<div class="ui divider"></div>
	</div>
	<a class="item">Articles</a>
	<a class="item">Categories</a>
	<a class="item active">Comments</a>
	<a class="item">Milestones</a>
	<a class="item">Settings</a>
</div>