<%- include('header') -%>
</head>
<body>

<%- include('nav') -%>

<div class="ui right fixed vertical text menu">
  <div class="header item">Sort By</div>
  <a class="item">Time </a>
  <a class="item active">Most Comments </a>
  <a class="item">Most Popular </a>
</div>

<div id="articles" class="ui text container">
	<article-abs v-for="data in dataset" v-bind:data="data"></article-abs>
</div>

<script type="text/javascript">
	Vue.component('article-abs', {
		template: '\
			<div class="ui piled segment">\
				<h1 class="ui header">\
					<a v-bind:href="data.url">{{data.title}}</a>\
					<div class="sub header">\
						{{data.year}}-{{data.month}}-{{data.day}} {{data.hour}}:{{data.minute}}:{{data.second}}\
						<i class="unhide icon"></i>{{data.nvisits}}\
						<i class="comment icon"></i>{{data.ncomments}}\
						<i class="tag icon"></i>{{data.tag}}\
					</div>\
				</h1>\
				<h4 class="ui horizontal divider header">Abstract</h4>\
				<h3 class="ui header">{{data.abstract}}</h3>\
			</div>\
			',
		props: ['data']
	});

	new Vue({
		el: '#articles',
		data: {
			dataset: [

			]
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			fetchData: function() {
				var _self = this;
				$.get("/articles",function(data,status){
					_self.dataset = data.dataset;
				});
				console.log(this.dataset);
			}
		}
	})
</script>
<%- include('footer') -%>